
body{
  background-image:linear-gradient(to top, black, rgb(59, 59, 133) 1%, rgb(29, 140, 140) ,rgb(18, 204, 218));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main {
  justify-content: center;
  padding: 40px;
  padding-top: 10px;
}
form {
  
  padding: 10px;
  border-radius: 30px;
  margin: 5px;
 
}

.title {
  text-transform: uppercase;
  line-height: 30px;
  text-shadow: 2px 1px 0px gray;
  color: white;
}

label {
  font-size: 22px;
  font-weight: 500;
  margin: 5%;
  color: white;
}

input {
  font-size: 22px;
  margin: 5%;
  
  border-bottom: 2px solid white;

}

#name,
#dept,
#rating {
  margin-left: 20px;
  border-radius: 10px;
}

button {
  margin-top: 20px;
  font-size: 22px;
  padding: 5px;
  width: 60vw;
  border-radius: 10px;
  background-color: skyblue;
}

.result {
  background-color: rgb(111, 155, 157);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly
}

.property {
 
  width: 40%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
}

@media screen and (max-width:420px) {
  .main {
     padding: 2px;
  }
  label {
    margin: 10px;
    margin-top: 50px;
  }
  input{
    margin: 10px;
  }  
}
.error{
  color: rgb(255, 15, 35);
  font-size: 25px;
  font-weight: bold;
  text-shadow: 4px 4px 8px #fff;
  line-height: 30px;
}



@media screen and (max-width:335px){
  
  .main {
    padding: 3px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
}